<!--The content below is only a placeholder and can be replaced.-->
<div class="appContainer">

  <div class="appHeader">
    <img width="300" alt="Matrix Logo" src="../assets/Matrix&Tag_Logo.png">
    <h1>
      Welcome to the {{ title }}!
    </h1>
  </div>
  <h2>Here are some useful links: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.matrixres.com/">MATRIX Resources</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.matrixres.com/digital-transformation">Digital
          Transformation at MATRIX</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Angular CLI
          Documentation</a></h2>
    </li>
  </ul>
</div>